body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* background-color: #fff; */
    /* position: relative; */
}
/* ....................................... */

/*/////////////////////////////////////// */
.site-navbar {
    background-color: #ffffffb8;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 10px #ccc;
    margin-bottom: 0px;
    z-index: 1999;
    width: 100%;
    padding: 8px 0;
}

.site-navbar .site-logo {
    position: relative;
    left: 0;
    font-size: 24px !important;
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active>a span {
    background: #9e9e9e2d;
    border-radius: 30px;
    color: #0d5aab;
    display: inline-block;
    padding: 5px 20px;
}

.site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    display: inline-block;
}

.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
}

.site-navbar .site-navigation .site-menu>li>a {
    position: relative;
    padding: 10px 0px;
    color: #383838b9;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none !important;
    transition: .3s all ease;
}

.site-navbar .site-navigation .site-menu>li>a>span {
    padding: 5px 20px;
    display: inline-block;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    border-radius: 30px;
}

.site-navbar .site-navigation .site-menu>li>a::before{
    content: "";
    background-color: #0d5aab;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    transition: .3s all ease;
}
.site-navbar .site-navigation .site-menu>li:nth-child(6)>a::before{
    content: "";
    background-color: #00000000;
    transition: .3s all ease;
}
.site-navbar .site-navigation .site-menu>li>a:hover>span {
    color: #0d5aab;
    transition: .3s all ease;
}
.site-navbar .site-navigation .site-menu>li>a:hover::before{
    width: 100%;
    transition: .3s all ease;
}

.li-home-btn {
    border-left: 1px solid #6f6f6f6e; 
    padding-left: 15px; 
    margin-left: 15px;
}
.li-account>a>span>*{
    margin-right: 2px;
}
.li-account>a i{
    font-size: 1.3rem;
    padding: 0;
}

.header_steps{
    padding: 3px 0;
    border-left: 1px solid #6f6f6f6e;
}
.header_steps .step-number{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem;
    color: #a4a4a4;
    margin-bottom: 5px;
}


/* cover letter content */

.bg-resume{
    background-color: #EFF2F9;
}

.body-resumes .resumes-header {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.body-resumes .resumes-header .header_title .subtitle{
    font-size: 1.1rem;
    font-weight: 500;
    color: #878787;
}

.body-resumes .letter-templates{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
    max-width: 1110px;
    width: 100%;
    margin: 1rem 0;
}

.body-resumes .letter-templates .templates{
    width: fit-content;
}

.body-resumes .letter-templates .templates .template-name h6{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #6f6f6f;
    margin: 20px 0;
}

.body-resumes .letter-templates .templates .template-img img{
    width: 100%;
}

.body-resumes .letter-templates .templates .template-img{
    position: relative;
}
.body-resumes .letter-templates .templates .template-img a{
    background-color: #3d3d3d56;
    text-decoration: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all ease .4s;
}
.body-resumes .letter-templates .templates .template-img a>span{
    background-color: #1466AA;
    padding: 10px 25px;
    border-radius: 50px;
    text-wrap: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.body-resumes .letter-templates .templates .template-img a>span>i{
    margin-right: 5px;
}

.body-resumes .letter-templates .templates .template-img a:hover{
    opacity: 1;
    transition: all ease .4s;
}