body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.body-contact{
    background-color: #EFF2F9;
    position: relative;
}

.background-world-map{
    background: url(../../image/pics-contact/world-map.png) top right no-repeat;
    opacity: .3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.contact{
    padding-top: 120px;
}

.contact .contact-header{
    padding: 20px 60px;
}

.contact .contact-form{
    background: #fff;
    padding: 40px 60px;
    margin: 20px 0px;
}

.contact .contact-detail{
    padding: 0px 60px;
    margin: 50px 10px;
}

.contact .contact-header .ct-header-title{
    font-size: 50px;
    font-weight: 700;
    color: #1466aa;
    line-height: 50px;
    margin-bottom: 25px;
}
.contact .contact-header .ct-header-subtitle{
    color: #0000009e;
}

.contact .contact-form h4{
    margin-bottom: 20px;
}
.contact .contact-form .topic{
    background-color: #EFF2F9;
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 15px 0 0;
    color: #00000085;
    font-size: .85rem;
    font-weight: 500;
    cursor: pointer;
    transition: ease .25s;
}
.contact .contact-form .topic:hover{
    background-color: #dfe4ed;
    color: #1466aa;
    transition: ease .25s;
}
.contact .contact-form .topic.tp-choosed{
    background: #1466aa;
    color: #fff;
}

.contact .contact-form .form label{
    font-weight: 500;
    color: #0000009e;
}
.contact .contact-form .form .form-control{
    padding: 10px 20px;
    background: #eff2f9;
    border: 2px solid #eff2f9;
    line-height: 24px;
}
.contact .contact-form .form textarea{
    min-height: 150px;
    resize: none;
}

.contact .contact-form .form .bottom-contact-caption{
    font-size: .9rem;
}

.contact .contact-form .form .btn-sendMessage{
    display: inline-block;
    padding: 17px 34px;
    background: #1466AA;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-wrap: nowrap;
    transition: ease .25s;
}
.contact .contact-form .form .btn-sendMessage:hover{
    background: #105186;
    transition: ease .25s;
}

.contact .contact-detail .contact-detail-label{
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #858585;
    margin: 0;
}